{% extends "base/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 bg-light px-5 mt-5">
                <form class="account-form p-4 rounded" method="post">
                    <fieldset>
                        <legend class="fw-bold fs-4 mt-5 text-center">Password Reset</legend>
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-primary" role="alert">
                                Error: Please try again!
                            </div>
                        {% endif %}
                        <label class="form-label mb-2">Email :</label>
                        {{ form.email }}
                        <div class="text-center mt-1">
                            <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold"
                                    type="submit">
                                <i class="fa-regular fa-paper-plane"></i>&nbsp;
                                Send e-mail
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}