{% extends "base/base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-light mt-5 px-5">
                <form class="account-form p-4 rounded" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-primary" role="alert">
                            Error: Please try again!
                        </div>
                    {% endif %}
                    <fieldset>
                        <legend class="text-center fs-4 fw-bold mt-5">Change Password</legend>
                        <label for="old_password"
                               class="font-weight-bold mb-2 form-label">{{ form.old_password.label }}</label>
                        {{ form.old_password }}
                        <ul>
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                        <label for="new_password"
                               class="font-weight-bold mb-2 form-label">{{ form.new_password1.label }}</label>
                        {{ form.new_password1 }}
                        <br>
                        <label for="retype_new_password" class="font-weight-bold mb-2 form-label">Re-type New
                            Password</label>
                        {{ form.new_password2 }}
                        <div class="row justify-content-center">
                            <div class="col-6 mt-5 px-5">
                                <div>
                                    <button class="btn btn-warning py-2 font-weight-bold"
                                            type="submit"
                                            value="Log-in">
                                        <i class="fa-solid fa-key"></i>
                                        Change password
                                    </button>
                                    <span>&nbsp;&nbsp;</span>
                                    <a href="{% url 'pica:dashboard' %}"
                                       class="btn btn-danger py-2 font-weight-bold"><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Cancel</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}