{% extends "base/base.html" %}
{% block title %}Password Reset Done{% endblock %}
{% block content %}
    <div class="container-fluid  justify-content-center">
        <div class="row no-gutter">
            <div class="col-md-6 bg-light offset-3 mt-5">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12  mx-auto">
                                <h3>Password reset sent</h3>
                                <p class="mt-5">
                                    We’ve emailed you instructions for setting your password, if an account exists with
                                    the email you entered. You should receive them shortly.
                                </p>
                                <p>
                                    If you don’t receive an email, please make sure you’ve entered the address you
                                    registered with, and check your spam folder.
                                </p>
                            </div>
                            <div class="col-12 mt-5 text-center">
                                <a href="{% url 'pica:home' %}" class="btn btn-primary"><i
                                        class="fa-solid fa-house"></i>&nbsp;&nbsp;Back to Homepage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-flex bg-image"></div>
        </div>
    </div>
{% endblock %}