{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Delete Activity{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 bg-light mt-5 px-5">
                <form action="" method="post" autocomplete="off">
                    <fieldset>
                        <legend class="text-center fs-3 fw-bold mb-5 mt-5 text-danger">Delete Activity</legend>
                        {% csrf_token %}
                        <br>
                        <div class="text-center fs-5">
                            Are you sure want to delete this data?
                        </div>
                        <br>
                        <div class="row mb-3">
                            <div class="col-12">
                                Activity Date : {{ activity.activity_date|date:"l, d M Y" }}
                            </div>
                            <div class="col-12">
                                Action Description : {{ activity.action_description }}
                            </div>
                            <br>
                        </div>
                        <div class="row mb-5 mt-5">
                            <div class="col-12">
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <button class="btn btn-success mx-3"
                                                type="submit">Delete
                                        </button>
                                    </div>
                                    <div>
                                        <a class="btn btn-danger mx-3"
                                           href="{% url 'pica:list_update_activity' topic.id %}">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {#    {% include "base/footer.html" %}#}
{% endblock %}