{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Delete Forum{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 bg-light mt-5 px-5">
                <form action="" method="post" autocomplete="off">
                    <fieldset>
                        <legend class="text-center fs-3 fw-bold mb-5 mt-5 text-danger">Delete Forum</legend>
                        {% csrf_token %}
                        <br>
                        <div class="text-center fs-5">
                            Are you sure want to delete this data?
                        </div>
                        <br>
                        <div class="row mb-3">
                            <div class="col-12">
                                Forum Name : {{ forum.forum_name }}
                            </div>
                            <div class="col-3">
                                Description : {{ forum.description }}
                            </div>
                        </div>
                        <div class="row mb-5 mt-5">
                            <div class="col-12">
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <button class="btn btn-warning mx-3"
                                                type="submit"><i class="fa-solid fa-trash"></i>&nbsp;&nbsp;Delete
                                        </button>
                                    </div>
                                    <div>
                                        <a class="btn btn-danger mx-3" href="{% url 'pica:list_forum' %}"><i
                                                class="fa-solid fa-ban"></i>&nbsp;&nbsp;Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {#    {% include "base/footer.html" %}#}
{% endblock %}