{% extends "base/base.html" %}
{% load static %}
{% block title %}List PIC Secreatary in Forum{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 bg-light mt-5 px-5">
                <div class="text-center fs-4 fw-bold mb-3 mt-5">List PIC Secretary in Forum</div>
                <br>
                <div class="fw-bold mb-3 fs-5">
                    Forum : {{ forum.forum_name }}
                </div>
                <div>
                    <a href="{% url 'pica:update_secretary' forum.id %}" class="btn btn-warning"><i
                            class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Add/Remove PIC Secretary</a>
                    <a href="{% url 'pica:list_forum' %}" class="btn btn-danger"><i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Back
                        to Forum</a>
                </div>
                <br>
                <table class="table table-light">
                    <thead>
                    <tr>
                        <th>Secretary Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for secretary in secretaries_in_forum %}
                        <tr>
                            <td>{{ secretary.first_name }} {{ secretary.last_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
    {#    {% include "base/footer.html" %}#}
{% endblock %}

