{% extends "base/base.html" %}
{% load static %}
{% block title %}List Topics{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 bg-light mt-5 px-5">
                <div class="text-center fs-4 fw-bold mb-5 mt-5">List Topics</div>
                <br>
                <div>
                    <a href="{% url 'pica:input_topic' meeting.id op %}" class="btn btn-warning"><i
                            class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Add Topic</a>
                    <a href="{% url 'pica:list_meeting' op %}" class="btn btn-danger"><i
                            class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Back to List Meeting</a>
                </div>
                <br>
                <table class="table table-light">
                    <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Division</th>
                        <th>Company</th>
                        <th>Problem Identification</th>
                        <th>Corrective Action</th>
                        <th>Due Date</th>
                        <th>PIC (inputter)</th>
                        <th>PIC (PICA)</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for topic in topics %}
                        <tr>
                            <td>{{ topic.topic_name }}</td>
                            <td>{{ topic.topic2department.name }}</td>
                            <td>{{ topic.topic2company.name }}</td>
                            <td>{{ topic.problem_info }}</td>
                            <td>{{ topic.action }}</td>
                            <td>{{ topic.due_date|date:"d M Y" }}</td>
                            <td>{{ topic.topic2user.first_name }} {{ topic.topic2user.last_name }}</td>
                            <td>{{ topic.topic2incharge.first_name }} {{ topic.topic2incharge.last_name }}</td>
                            {% if topic.category == "FU" %}
                                <td>Follow Up</td>
                            {% endif %}
                            {% if topic.category == "PJ" %}
                                <td>Project</td>
                            {% endif %}
                            {% if topic.category == "PL" %}
                                <td>Policy</td>
                            {% endif %}
                            {% if topic.category == "NT" %}
                                <td>Notes</td>
                            {% endif %}
                            {% if topic.status == "O" %}
                                <td>Open</td>
                            {% endif %}
                            {% if topic.status == "C" %}
                                <td>Closed</td>
                            {% endif %}
                            {% if topic.status == "P" %}
                                <td>Progress</td>
                            {% endif %}
                            {% if topic.status == "H" %}
                                <td>Hold</td>
                            {% endif %}
                            {% if topic.status != "C" %}
                                <td><a href="{% url 'pica:update_topic' meeting.id topic.id op %}"
                                       class="btn btn-warning"><i
                                        class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Update</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
    {#    {% include "base/footer.html" %}#}
{% endblock %}

