{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Activity Attachments{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-7 bg-light mt-5 px-5">
                <div class="text-center mb-5">
                    <h3>List Activity Attachments</h3>
                </div>
                <div>
                    <h6>Forum : {{ meeting.meeting2forum.forum_name }}</h6>
                    <h6>Date : {{ meeting.meeting_date|date:"l, d M Y" }}</h6>
                </div>
                <div class="col-12">
                    <br>
                    <h6>Uploaded Files (pdf):</h6>
                    <table class="table table-bordered table-secondary text-center">
                        <thead>
                        <tr>
                            <th>Name of file</th>
                            <th>Size</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for doc in doc_pdfs %}
                            <tr>
                                <td>{{ doc.nama_file }}</td>
                                <td>{{ doc.doc_pdf.size|filesizeformat }}</td>
                                <td><a href="{{ doc.doc_pdf.url }}" class="btn btn-primary"
                                       target="_blank"><i
                                        class="fa-solid fa-eye fa-lg"></i>&nbsp;View</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-12 mt-3">
                    <h6>Uploaded Files (jpeg/jpg/png):</h6>
                    <table class="table table-bordered table-secondary text-center">
                        <thead>
                        <tr>
                            <th>Name of file</th>
                            <th>Size</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for doc in doc_images %}
                            <tr>
                                <td>{{ doc.nama_file }}</td>
                                <td>{{ doc.doc_image.size|filesizeformat }}</td>
                                <td><a href="{{ doc.doc_image.url }}" class="btn btn-primary"
                                       target="_blank"><i
                                        class="fa-solid fa-eye fa-lg"></i>&nbsp;View</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {#    {% include "base/footer.html" %}#}
{% endblock %}