{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Review Topic{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 bg-light mt-5 px-5">
                <form action="" method="post" autocomplete="off">
                    <fieldset>
                        <legend class="text-center fs-4 fw-bold mb-5 mt-5">Review Topic</legend>
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-12 mt-3">Division : {{ topic.topic2department.name }}</div>
                            <br>
                            <div class="col-12 mt-3">Topic Name : {{ topic.topic_name }}</div>
                            <br>
                            <div class="col-3 mt-3">
                                <label class="form-label">Due Date :</label>
                                {% render_field form.due_date placeholder="Due Date" class+="form-control" type="date" %}
                            </div>
                            <div class="col-9 mt-3">
                                <label class="form-label">PIC :</label>
                                {% if topic.topic2user %}
                                    {% for pic in topic.topic2user.all %}
                                        {{ pic.first_name }} {{ pic.last_name }},
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-12 mt-3">
                                <label class="form-label">Problem :</label>
                                {% render_field form.problem_info placeholder="Problem" class+="form-control" %}
                            </div>
                            <div class="col-12 mt-3">
                                <label class="form-label">Action :</label>
                                {% render_field form.action placeholder="Action" class+="form-control" %}
                            </div>
                        </div>
                        <div class="row mb-5 mt-5">
                            <div class="col-12">
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <button class="btn btn-success mx-3"
                                                type="submit"><i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Save
                                        </button>
                                    </div>
                                    <div>
                                        <a class="btn btn-danger mx-3"
                                           href="{% url 'pica:list_topic_review' approval.id %}"><i
                                                class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {#    {% include "base/footer.html" %}#}
{% endblock %}