{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Update PIC Secretary{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center mt-5 mb-5">
                <h3>Update PIC Secretary</h3>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <h4>Forum : {{ forum.forum_name }}</h4>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <a href="{% url 'pica:list_secretary' forum.id %}" class="btn btn-danger"><i
                            class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Back to List PIC Forum</a>
                </div>
            </div>
            <div class="col-5 bg-light mt-3">
                <div class="text-center">
                    <h5>Tim Secretary Available</h5>
                </div>
                <table class="table border border-1 border-dark">
                    <thead>
                    <tr class="table-secondary">
                        <th>Tim Secretary Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for secretary in secretaries %}
                        {% if secretary not in secretaries_in_forum %}
                            <tr>
                                <td>{{ secretary.first_name }}&nbsp;{{ secretary.last_name }}</td>
                                <td>
                                    <a href="{% url 'pica:add_secretary_to_forum' secretary.id forum.id %}"
                                       class="btn btn-outline-warning"><i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Add</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1 mt-5"></div>
            <div class="col-5 bg-light mt-3">
                <div class="text-center">
                    <h5>Tim Secretary in Forum</h5>
                </div>
                <table class="table border border-1 border-dark">
                    <thead>
                    <tr class="table-secondary">
                        <th>Tim Secretary Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for secretary in secretaries_in_forum %}
                        <tr>
                            <td>{{ secretary.first_name }}&nbsp;{{ secretary.last_name }}</td>
                            <td>
                                <a href="{% url 'pica:delete_secretary_from_forum' secretary.id forum.id %}"
                                   class="btn btn-outline-danger"><i
                                        class="fa-solid fa-trash"></i>&nbsp;&nbsp;Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {#    {% include "base/footer.html" %}#}
{% endblock %}